@* @model List<ObjetoEscuelaBase> *@

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody class="text-capitalize">
            @foreach (var obj in @Model)
            {
            <tr>
                <td>@Html.ActionLink("Ver", "GetOne", new {id = obj.Id}, new {@class="text-light"})</td>
                <td>@obj.Nombre</td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new {Id = obj.Id}, new {@class="btn btn-danger"})
                    @Html.ActionLink("Editar", "Edit", new {Id = obj.Id}, new {@class="btn btn-info"})
                </td> 
            </tr>
            }
        </tbody>
    </table>
</div>