<!-- 
    El "model Escuela" genera que se respeten la visualización de los 
    atributos en el render de la aplicación de esta forma se puede ser 
    mas estricto a hora de renderizar los elementos
 -->
@model Escuela

@{
    ViewData["Title"] = "Información escuela";
    Layout = "Simple";
}

<h1>Escuela @ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Año fundación: @Model.AñoDeCreación</strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>
<p><i>@ViewData["CosaDinamica"]</i></p>